# $Id: rhslip0.config,v 1.3 1994/05/12 14:03:33 jraja Exp $
#
# This file is the configuration file for the SANA-II SLIP
# driver.  It only contains one config line (aside from
# the comments).  The format of the line (in ReadArgs()
# style) is:
#
# SERNAME/A,SERUNIT/A/N,SERBAUD/A/N,IPSTR/A,MTU/K/N,CD/S,7WIRE/S,EOFMODE/S
#
# SERNAME - The name of the serial device to use.
#
# SERUNIT - The unit number for the serial device.
#
# SERBAUD - The baud rate to use with the serial device.
#
# IPSTR	  - The IP address of the SLIP Device
#
# MTU     - The MTU of the driver (optional)
#
# CD=CARRIERDETECT - If specified, causes the slip.device to pay attention
#                    to the status of the carrier detect line.  If this isn't
#		     specified, slip.device ignores the CD signal.
#
# 7WIRE   - If specified, causes slip.device to use seven wire handshaking
#	    with the modem (strongly recommended for high baud rates).
#
# EOFMODE - If specified, causes rh(c)slip.device to use EOFMODE. This
#           reduces the CPU load, but it wont work with all different
#           serial devices.
#
serial.device 0 38400 135.7.20.2
